/* General */
main {
    display: flex;
    flex-flow: column;
    align-items: center ;
}

article {
    margin: 20px 0;
}

/* Presentation */

h1, .presentation h3 {
    text-align: center;
}

/* Les autres articles */


.hidden {
    display: none;
}

article:not(.presentation) {
    text-align: justify;
    width: 70%;
}

main ul {
    list-style: none;
    padding: 0;
}

main button:last-of-type {
    margin-bottom: 10px;
}

/* Button styling */
button {
  background: #202020;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: rgb(100, 180, 50);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  width: 400px;
}

button ~ button {
    margin-top: 10px;
}